{cover_enabled, true}.
{cover_print_enabled, true}.
{erl_opts, [debug_info, {platform_define, "(R14|R15)", 'warnings_as_errors'}]}.
{eunit_opts, [verbose]}.
{edoc_opts, [{report_missing_types, true}, {source_path, ["src"]}, {report_missing_types, true}, {todo, true}, {private, true}, {hidden, true}, {packages, false}, {subpackages, false}]}.
